/*
    Chrome Resets
*/
* {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  color: #616161; }

*, *:before, *:after {
  box-sizing: border-box; }

/*
    Typography
*/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v8/qEjAkCC_I8-NsX6aYiQHCfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url(https://fonts.gstatic.com/s/nunito/v8/uGMHL94-PyB0HAplpWqScBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v8/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url(https://fonts.gstatic.com/s/nunito/v8/TttUCfJ272GBgSKaOaD7KltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/*
  Utils
*/
.u-hidden {
  display: none;
  visibility: hidden; }

.u-display-hidden, .ChatView-header-statList dt span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/*
  Flexgrid
*/
.FlexGrid {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .FlexGrid--fullsize {
    height: 100%;
    width: 100%; }
  .FlexGrid-cell--isFull {
    flex: 1; }

.FlexGridRow {
  display: flex;
  flex-direction: row; }
  .FlexGridRow--fullsize {
    height: 100%;
    width: 100%; }

/* General Styling */
body {
  background: #f9f9f9;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 1rem; }

/*
  Header
*/
header.MainHeader {
  background: #353744;
  min-height: 5.5rem;
  height: 7.5%;
  padding: 1rem;
  width: 100%; }
  header.MainHeader img.MainHeader-logo {
    height: 100%; }
  header.MainHeader h1.MainHeader-text {
    color: #f9f9f9;
    vertical-align: middle; }

/*
  Navigation Bar
*/
.MainSection {
  width: 100%; }

/*
  Chat Header
*/
.ChatView-header {
  padding: 1rem;
  color: #292929; }
  .ChatView-header-h1 {
    font-weight: normal; }

.ChatView-header-statList {
  font-weight: bold;
  align-self: center;
  justify-content: bottom; }
  .ChatView-header-statList dt, .ChatView-header-statList dd {
    display: inline; }
  .ChatView-header-statList dt img {
    height: 1rem;
    margin-bottom: -0.15rem; }

/*
  Main Chat View
*/
.ChatWindow {
  padding: 1rem;
  overflow-y: auto; }

.Message {
  display: flex;
  margin-top: 1em;
  word-break: break-all; }
  .Message:first-of-type {
    margin-top: 0; }
  .Message:last-of-type {
    margin-bottom: 1rem; }
  .Message-image {
    display: block;
    align-self: flex-start;
    border-radius: 50%;
    height: 36px;
    margin-right: 0.5rem; }
  .Message-inner {
    display: block;
    background: #fff;
    border: 1px solid #d7d7d7;
    padding: 0.5rem;
    border-radius: 1rem; }
  .Message-author {
    font-weight: bold;
    font-style: normal;
    align-self: center;
    color: #292929;
    margin-right: 0.5rem; }
  .Message-time {
    color: #cfcfcf;
    align-self: flex-end;
    font-size: 0.75rem;
    margin-right: 0.5rem; }
  .Message-deleteBtn {
    background: transparent;
    margin-left: auto;
    align-self: center;
    border-width: 0px;
    width: 1rem;
    height: 1rem; }

/*
  New message
*/
.ChatNewMessageForm {
  min-height: 4rem;
  width: 100%; }
  .ChatNewMessageForm form {
    max-height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center; }
  .ChatNewMessageForm-content {
    max-height: 300px;
    border: 1px solid #d7d7d7;
    font-family: "Nunito", Arial, sans-serif;
    color: #616161;
    font-size: 1rem;
    padding: 1rem;
    flex: 1;
    resize: none; }
  .ChatNewMessageForm-submit {
    border-width: 0px;
    width: 100px;
    height: 100px;
    margin-left: 1rem;
    background: transparent url(../images/send.png) no-repeat;
    background-position: center center;
    background-size: contain; }

/*
  Signup Dialog
*/
.SignupDialog-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #353744;
  /* Fallback color */
  background: rgba(53, 55, 68, 0.6);
  /* Black w/ opacity */ }

.SignupDialog {
  width: 85%;
  height: 85%;
  max-height: 60%;
  border: 1px solid #d7d7d7;
  background: #f9f9f9;
  padding: 1rem;
  margin: 0 auto; }

.SignupDialog input, .SignupDialog button {
  border: 1px solid #d7d7d7;
  font-family: "Nunito", Arial, sans-serif;
  padding: 0.45rem;
  margin: 0.45rem;
  font-weight: bold; }
  .SignupDialog input:last-child, .SignupDialog button:last-child {
    margin-right: 0px; }

.SignupDialog-header {
  height: 2rem; }

.SignupDialog-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 3rem); }

.SignupDialog-formRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1em 0; }

.SignupDialog-formRow--last {
  margin-top: auto;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0; }

.SignupDialog-submitBtn {
  background: #62bd61;
  background: linear-gradient(to bottom, #7cd650, #48a371);
  color: #ffffff; }
  .SignupDialog-submitBtn:hover {
    background: linear-gradient(to bottom, #9be079, #64ba8b); }
  .SignupDialog-submitBtn:active {
    background: linear-gradient(to bottom, #60c52e, #388058); }

.SignupDialog-cancelBtn {
  background: #c5c5c5;
  background: linear-gradient(to bottom, #d4d4d4, #b5b5b5); }
  .SignupDialog-cancelBtn:hover {
    background: linear-gradient(to bottom, #eeeeee, #cfcfcf); }
  .SignupDialog-cancelBtn:active {
    background: linear-gradient(to bottom, #bbbbbb, #9c9c9c); }

@media only screen and (min-width: 320px) and (max-width: 628px) {
  .u-hidden-mobile {
    display: none; } }

@media screen and (min-width: 628px) {
  .Nav {
    height: 100%;
    width: 250px;
    background-color: #61d290; }
  .ChatNewMessageForm {
    background: #ffffff;
    border-top: 1px solid #d7d7d7; }
    .ChatNewMessageForm form {
      padding: 0; }
    .ChatNewMessageForm-content {
      border: 0px solid transparent; }
    .ChatNewMessageForm-submit {
      margin: 0 1rem; }
  .SignupDialog {
    max-width: 445px;
    max-height: 225px; }
    .SignupDialog-formRow {
      flex-direction: row;
      align-items: center; }
      .SignupDialog-formRow input {
        width: 80%; } }
